<div>
  <p style="display: inline-block; margin-right: 10px;">Nombre: {{trabajador1.nombre}}</p>

  <div *ngIf="parseInt(trabajador1.edad) < 60" style="display: inline-block; margin-right: 10px;">
    <!-- El contenido que quieres mostrar cuando la edad es menor que 60 -->
    (Activo)
  </div>

  <div *ngIf="parseInt(trabajador1.edad) >= 60" style="display: inline-block;">
    <!-- El contenido que quieres mostrar cuando la edad es mayor o igual a 60 -->
    (Jubilado)
  </div>
</div>

<p>Apellidos: {{trabajador1.apellidos}}</p>
<p>Edad: {{trabajador1.edad}}</p>
<p>Sueldo: {{trabajador1.sueldo}}</p>
<p>Horas extras del empleado:</p>
<div *ngFor="let trabajador of trabajador1.horasExtras">
  {{trabajador}}
</div>
<p>Suelo anual total: {{trabajador1.sueldoAnual}}</p>
<p>------------------------------------------------------------</p>
<p>El sueldo total de trabajador: {{trabajador1.nombre}}-{{trabajador1.apellidos}} es de {{trabajador1.sueldoAnual}}</p>

<form [formGroup]="formTrabajador" (ngSubmit)="submit()">
  <p>Nombre:
  <input type="text" formControlName="nombre"></p>
  <p>Apellido:
    <input type="text" formControlName="apellidos"></p>
  <p>Sueldo:
    <input type="number" formControlName="sueldo"></p>
  <button type="submit">Añadir</button>
</form>
<hr />

<h3>Listado de Trabajadores</h3>

<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Sueldo</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let trabajador of trabajadores">
    <td>{{ trabajador.nombre }}</td>
    <td>{{ trabajador.apellidos }}</td>
    <td>{{ trabajador.sueldo }}</td>
  </tr>
  </tbody>
</table>

